body{
  overflow-x: hidden;
  overflow-y: scroll;
}
.content [backgroundImage]{
  position: fixed;
  max-width: 100%;
  height: auto;
  }
.title{
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap; 
  width: 80%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
li:hover {
  background-color: #ddd;
}
li{
  border: 30px;
}
.tab-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 16px;
  font-size: 16px;
  font-weight: bold;
}
.tab-button.active {
  background-color: #000;
  color: #fff;
}
.card{
  border-radius: 40px;
}
.text-white{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn{
  font-family: Tahoma;
  text-rendering: optimizeSpeed;
}
button.btn:hover{
  background-color: rgb(131, 107, 107);
  color: #EEE4E4;
}
button.tab-button:hover{
  border: none;
  box-shadow: 2px 2px 6px #000;
}
/* .outer-container{
  display: flex;
  align-content: space-between;
  flex-direction: row;
} */

.created{
  font-size: small;
}
.description{
  
  white-space: nowrap; 
  width: 80%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

button.tab-button:hover {
  background-color: rgb(131, 107, 107);
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 30px 30px 60px;
  grid-gap: 10px;
  padding: 10px;
}






